{% extends 'base1.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
 
<form method="post">
 <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                       <h1 class="h3 mb-3 font-weight-normal">Please Reset Your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-lg btn-primary">Reset password</button>
   </div>
                </div>
            </div>
           
        </div>
    </section>
    {{ form_end(resetForm) }}
    
     </form>
{% endblock %}
