
{% extends 'detail_blog.html.twig' %}

{% block title %}New Commentaires{% endblock %}

{% block body %}

                   

                     
<section class="blog-details-hero set-bg" data-setbg="{{asset('font/img/about-us.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
<h2>Publier un commentaire</h2>

 <div class="leave-comment">
    {{ include('commentaires/_form.html.twig') }}
        <a href="{{ path('app_articles_index_front') }}">back to list</a>
    </div>
    </div>
    </div>
    

    </section>

{% endblock %}