{% extends 'base.html.twig' %}

{% block title %}New Tool{% endblock %}

{% block body %}
    <h1>Create new Tool</h1>

    {{ include('tool/_form.html.twig') }}

    <a href="{{ path('app_tool_index') }}">back to list</a>
{% endblock %}
