{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}

    <div class="my-2"></div>
               
                                     <a href="{{ path('app_utilisateur_index', {'id': utilisateur.id}) }}"class="btn btn-success btn-icon-split">
                                      
                                        <span class="text">go to back</span>
                                    </a>
{% endblock %}
