<div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0" style="color:black;">
                <div class="sidebar" style="color:black;">
                   {{ form_start(search)}}
                    <div class="widget"  style="color:black;">
                        <h5 class="widget_title" style="color:white;" >Categories</h5>
                       {{ form_row(search.categories)}}
                    </div>
                   
                    <button class="btn btn-border-fill btn-block">Chercher</button>
                  {{ form_end(search)}}
                </div>
          </div>                             
                    </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                                <div class="row shop_container">
                                                  {% if articles %}
                                    {% for article in articles %}
                                        {{ include('front/index.html.twig',{'article': article}) }}
                                   {% endfor %}
                  {% else %}
                    <p>Nous n'avons pas de produit correspondant à vos critères de filtre</p>
                  {% endif %}

